@import "tailwindcss";
@theme {
  --color-text: #040316;
  --color-background: #fbfbfe;
  --color-primary: #2f27ce;
  --color-secondary: #dddbff;
  --color-accent: #443dff;
  --color-background-gray: #efefef;
  --color-app-green: #26cd7d;
  --color-app-yellow: #fdb645;
  --color-app-red: #f16775;
}
